<app-menu-bar></app-menu-bar>
<div fxLayout="column" class="padding mt-3" fxLayoutGap.xl="5rem" fxLayoutGap.lg="5rem" fxLayoutGap.md="5rem" fxLayoutGap.sm="2rem" fxLayoutGap.xs="2rem">
  <div fxLayout="row">
    <div>
      <div fxLayout="column" fxLayoutGap="1.5rem">
        <div class="f-2">We would love to hear from you</div>
        <div class="f-1p5">Write to us or call us with your feedback or your queries</div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100">
      <img src="/images/logo.png" class="logo"/>
    </div>
    <div fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100">
      <form fxLayout="column">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input
            type="text"
            placeholder="Enter Name"
            required
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="email"
            placeholder="Enter Email"
            required
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mobile Number</mat-label>
          <input
            type="number"
            placeholder="Enter Mobile Number"
            required
            matInput
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Write your message</mat-label>
          <input
            type="text"
            placeholder="write message"
            required
           matInput
          />
        </mat-form-field>
      <button mat-flat-button class="button-1">Send Message</button>
      </form>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="column" fxLayoutGap="1.5rem">
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap.xl="1.5rem" fxLayoutGap.lg="1.5rem" fxLayoutGap.md="1.5rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" class="size">
          <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100">
            <img src="/images/contact-us/call.png"/>
          </div>
          <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap="0.5rem">
              <div>Call Us</div>
              <div>+91 83743 XXXXX</div>
            </div>
          </div>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="1.5rem" class="size">
          <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100">
            <img src="/images/contact-us/mail.png"/>
          </div>
          <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap="0.5rem">
              <div>Email Us</div>
              <div>info&#64;viindhyajewels.com</div>
            </div>
          </div>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="1.5rem" class="size">
          <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100">
            <img src="/images/contact-us/connect.png"/>
          </div>
          <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap="0.5rem">
              <div>Connect with Us</div>
              <div fxLayout="row" fxLayoutGap="1rem">
                <img src="/images/contact-us/linkedin.png"/>
                <img src="/images/contact-us/youtube.png"/>
                <img src="/images/contact-us/facebook.png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100" class="margin">
      <div fxLayout="column" fxLayoutGap="2rem">
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1.5rem" class="size" >
          <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100">
            <img src="/images/contact-us/address.png"/>
          </div>
          <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap="0.5rem" >
              <div>Mailing Address</div>
              <div># B 15 & 16, Industrial Estate, Sanath Nagar Road, Hyderabad, Telanagana - 500018.</div>
          </div>
          </div>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="1.5rem" class="size" >
          <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100">
            <img src="/images/contact-us/address.png"/>
          </div>
          <div fxFlex.xl="90" fxFlex.lg="90" fxFlex.md="90" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap="0.5rem" >
              <div>Registered Address</div>
              <div># B 15 & 16, Industrial Estate, Sanath Nagar Road, Hyderabad, Telanagana - 500018.</div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
