<div fxLayout="column" class="footer">
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex="100">
    <div fxFlex.xl="1" fxFlex.lg="1" fxFlex.md="1" fxFlex.sm="100" fxFlex.xs="100">
    </div>
    <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign.xl="center" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start">
      <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0.5rem" fxLayoutGap.sm="0.5rem" class="highlights">
        <div class="heading">Get To Known Us</div>
        <div>About Us</div>
        <div>Our Company</div>
        <div>Our Journey</div>
        <div>Blogs</div>
        <div>Help & FAQs</div>
        <div>Terms & Conditions</div>
      </div>
    </div>
    <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign.xl="center" fxLayoutAlign.lg="center" fxLayoutAlign.md="center"fxLayoutAlign.sm="start" fxLayoutAlign.xs="start">
      <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0.5rem" fxLayoutGap.sm="0.5rem" class="highlights">
        <div class="heading">Customer Service</div>
        <div>Track My Order</div>
        <div>Contact Us</div>
        <div class="heading">Scheme Guide</div>
        <div>Certificate Guide</div>
        <div>Scheme Guide</div>
      </div>
    </div>
    <div fxFlex.xl="33" fxFlex.lg="33" fxFlex.md="33" fxFlex.sm="100" fxFlex.xs="100" fxLayoutAlign.xl="center" fxLayoutAlign.lg="center" fxLayoutAlign.md="center" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start">
      <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0.5rem" fxLayoutGap.sm="0.5rem" class="highlights">
        <div class="heading">Policy</div>
        <div>Privacy Policy</div>
        <div>Shipping Policy</div>
        <div>Fraud Disclaimer</div>
        <div>Cookies Policy</div>
        <div>Cancellation Policy</div>
      </div>
    </div>
  </div>
</div>
