<app-menu-bar></app-menu-bar>
<div fxLayout="column" fxLayoutGap.xl="5rem" fxLayoutGap.lg="5rem" fxLayoutGap.md="5rem" fxLayoutGap.sm="2rem" fxLayoutGap.xs="2rem" class="padding">
  <div fxLayout="row" class="bg-1 mt-5">
    <div>
      <div fxLayout="column" class="bg-2 margin">
        <div fxLayout="row" fxLayoutAlign="center" class="mt-3">
          <div class="font-2">Refer a Friend</div>
        </div>
        <div fxLayouy="row" fxLayoutAlign="center" class="f-1p5 mt-2">
          Fixed - income investments to your friends and earn more.
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxFlex="100" class="mt-1">
          <div fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100" class="ml-3">
            <div fxLayout="column" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem">
              <div class="font-2">Unlimited cash rewards</div>
              <div class="f-1p5">Earn Rs 1500/- for each of your first two refferals and there after, enjoy Rs 2500/- with each successful referral</div>
              <button mat-flat-button class="button-1"> Sign up to Earn Rewards </button>
            </div>
          </div>
          <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40">
            <div fxLayout="row" fxLayoutAlign="end" fxShow.xl fxShow.lg fxShow.md fxHide.sm fxHide.xs>
              <img src="/images/refer-and-earn/img-3.png" class="img-3"/>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start" class="mt-n7" fxShow.xl fxShow.lg fxShow.md fxHide.sm fxHide.xs>
          <img src="/images/refer-and-earn/img-8.png"/>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" class="refer-friend">
    <div fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="center" >
       <img src="/images/refer-and-earn/img-4.png" class="img-4"/>
      </div>
    </div>
    <div fxFlex.xl="55" fxFlex.lg="55" fxFlex.md="55" fxFlex.sm="100" fxFlex.xs="100" class="mlr mt-2">
      <div fxLayout="column" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem">
        <div fxLayout="row">
          <div>
            <div fxLayout="column" fxLayoutGap="0.8rem" class="heading">
              <div>More Friends,</div>
              <div>more rewards with no limits</div>
            </div>
          </div>
        </div>
        <div fxLayout="row" class="heading2">
          Get rewarded not just for the first time, but with every time a friend you referred makes their first investment
        </div>
        <button mat-flat-button  class="button-2">
          <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
            <img src="/images/refer-and-earn/img-5.png"/>
            <div class="refer">Refer a Friend</div>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" class="mlr">
    <div>
      <div fxLayout="column" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem">
        <div fxLayout="row" class="earn">
          <div class="heading">Earn</div>
          <div>
            <img src="/images/refer-and-earn/img-6.png"/>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" class="border">
          <div class="heading">1500</div>
          <div>
            <img src="/images/refer-and-earn/line.png"/>
          </div>
          <div class="heading2">Be a dear friend, earn for reffering your 1st and 2nd friend.</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" class="border">
          <div class="heading">3000</div>
          <div>
            <img src="/images/refer-and-earn/line.png"/>
          </div>
          <div class="heading2">Be social, earn for referring your 3rd friend onwards</div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" class="refferal-section">
    <div fxFlex.xl="60" fxFlex.lg="60" fxFlex.md="60" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="column" fxLayoutGap="0.5rem">
        <div  class="heading">Follow these steps & Earn</div>
        <img src="/images/refer-and-earn/underline.svg" class="under-line"/>
        <div class="heading">Create Account</div>
        <div class="heading2">Create an account on kubera Gold Plan and get your referral link</div>
        <img src="/images/refer-and-earn/hor-line.png" class="hr"/>
        <div class="heading" >Share Referral</div>
        <div class="heading2">Share the referral link with your friends and let them register using your link (this is important)</div>
        <img class="hr" src="/images/refer-and-earn/hor-line.png" />
        <div class="heading" >Earn Cash Rewards</div>
        <div class="heading2">You and your friends earn cash rewards when your friends make an Purchase of ₹95,000* or more within 60 days of
          registering on the platform</div>
        <img class="hr" src="/images/refer-and-earn/hor-line.png" />
      </div>
    </div>
    <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100">
      <img src="/images/refer-and-earn/img-7.png" class="img-7"/>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xl="5rem" fxLayoutGap.lg="5rem" fxLayoutGap.md="5rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" class="refferal-section">
    <button mat-flat-button class="button-1"> Sign up to Earn Rewards </button>
    <button mat-flat-button  class="button-2">
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="1rem">
        <img src="/images/refer-and-earn/img-5.png"/>
        <div class="refer">Refer a Friend</div>
      </div>
    </button>
  </div>
</div>
<app-footer></app-footer>
