<app-menu-bar></app-menu-bar>
<div fxLayout="column">
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" class="bg-1">
    <div fxFlex="100">
      <div fxLayout="column" class="main-content" fxLayoutGap.lg="1.5rem" fxLayoutGap.xl="1.5rem" fxLayoutGap.md="1.5rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="0.8rem">
          <span>Invest in</span>
          <span>Kubera</span>
          <span>Become a</span>
          <span>Kubera</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          Transform Your Investments into Lasting Value
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <img src="/images/home-page/kubera.png" class="kubera-img"/>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" class="items-center">
            <button mat-raised-button class="button-0">Enroll Now</button>
            <img src="/images/home-page/mx-player.svg"/>
            <div class="color-0">Start Investing</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" class="bg-img-2">
          <img src="/images/home-page/gold-coins.png" class="mb-2 coins-img"/>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" class="bg-img-3">
    <div>
      <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
        <div fxLayout="row" fxLayoutAlign="center">
          <img src="/images/home-page/phone-white.png" class="phone-img mb-2"/>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <div>In our journey we have delivered</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <img src="/images/line.svg" class="w-70"/>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column"  fxFlex="100" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" class="journey-section bg-color">
          <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0rem" fxLayoutGap.sm="0rem">
              <div><span>100+ </span><span>Crores</span></div>
              <div>Total Investment</div>
            </div>
          </div>
          <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0rem" fxLayoutGap.sm="0rem">
              <div><span>70+ </span><span>Crores</span></div>
              <div>Repayment Mode</div>
            </div>
          </div>
          <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0rem" fxLayoutGap.sm="0rem">
              <div> 100%</div>
              <div>Total Interest rate Earned</div>
            </div>
          </div>
          <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0rem" fxLayoutGap.sm="0rem">
              <div> 100%</div>
              <div>Default Percentage</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" class="mn-n21" fxShow.xl fxShow.lg fxShow.md fxHide.xs fxHide.sm>
    <img src="/images/home-page/ellipse-left-side.png" class="ellipse-left-side"/>
    <img src="/images/home-page/ellipse-right-side.png" class="ellipse-right-side"/>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <div>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center">
          <div>Build a portfolio that meets your scheme needs and goals.</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
          <img src="/images/line.svg" class="mt-1 mb-3 w-70"/>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxFlex="100" fxLayoutGap="3rem" class="scheme-goals">
          <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100">
            <div fxLayout="column" fxLayoutGap="0.8rem">
              <img src="/images/home-page/img-2.png"/>
              <div>Earn Higher Returns</div>
              <div>There are various types of investments available and you can choose investment</div>
            </div>
            <img src="/images/home-page/vertical-line.png" class="vertical-line mt-2 mb-1"/>
            <div fxLayout="column" fxLayoutGap="0.8rem">
              <img src="/images/home-page/img-5.png"/>
              <div>Earn Higher Returns</div>
              <div>There are various types of investments available and you can choose investment</div>
            </div>
          </div>
          <img src="/images/home-page/horizontal-line.png" class="horizontal-line"/>
          <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" class="mt-5">
            <div fxLayout="column" fxLayoutGap="0.8rem">
              <img src="/images/home-page/img-3.png"/>
              <div>Earn Higher Returns</div>
              <div>There are various types of investments available and you can choose investment</div>
            </div>
            <img src="/images/home-page/vertical-line.png" class="vertical-line mt-2 mb-1 ml-n4"/>
            <div fxLayout="column" fxLayoutGap="0.8rem">
              <img src="/images/home-page/img-4.png"/>
              <div>Earn Higher Returns</div>
              <div>There are various types of investments available and you can choose investment</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutALign="center" class="gold">
    <div fxFlex.xl="53" fxFlex.lg="53" fxFlex.md="53" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="center">
        <img src="/images/home-page/gold.png"/>
      </div>
    </div>
    <div fxFlex.xl="45" fxFlex.lg="45" fxFlex.md="45" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="column" fxLayoutGap="0.8rem">
        <div>
          <span>Double your Investment  </span>
          <span>in just 40 months through monthly returns of</span>
        </div>
        <div>24 Carat 999 Gold Biscuits</div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-between" fxFlex="100" class="investment-section mb-5">
    <div fxFlex="5">
    </div>
    <div fxFlex.xl="65" fxFlex.lg="65" fxFlex.md="65" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="column" fxLayoutGap="1.8rem">
        <div>Start investing in just 3 minutes</div>
        <img src="/images/line.svg" class="w-30"/>
        <div>Register and create your first support portal</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</div>
        <img src="/images/home-page/vertical-line.png" class="w-40"/>
        <div>Enter ID Proof, Address proof and Bank details</div>
        <img src="/images/home-page/vertical-line.png" class="w-40"/>
        <div>Start exploring exclusive opportunities and invest</div>
      </div>
    </div>
    <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="end">
        <img src="/images/home-page/computer.png" class="computer"/>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column">
    <div fxFlex.xl="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.xs="100" fxFlex.sm="100">
    </div>
    <div fxFlex.xl="75" fxFlex.lg="75" fxFlex.md="75" fxFlex.sm="100" fxFlex.xs="100" class="box-shadow">
      <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" class="bg-2">
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
          <img src="/images/home-page/Ellipse-3.png" class="ellipse"/>
          <div fxLayout="column" fxLayoutGap="1rem">
            <div>Start your free trial</div>
            <div>New user? Build your</div>
            <div>wealth now.</div>
          </div>
        </div>
        <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
          <div fxLayout="row" fxLayoutAlign="center" class="bg-img-4">
            <button mat-raised-button class="button-1">Enroll Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="100" class="bg-img-5">
    <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
      <div fxLayout="row" fxLayoutAlign="center">
        <img src="/images/home-page/phone-white.png" class="w-50"/>
      </div>
    </div>
    <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
      <div fxLayout="column" fxLayoutGap="2rem">
        <div>Easy investments at your fingertips</div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.lg="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem" fxLayoutAlign.sm="center" fxLayoutAlign.xs="center" class="play-store">
          <img src="/images/home-page/google.png"/>
          <img src="/images/home-page/apple.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
