<app-menu-bar></app-menu-bar>
<div fxLayout="column" class="padding">
  <!-- investing section -->
  <div fxLayout="column" class="bg-1">
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center">
      <div>
        <div fxLayout="column" fxLayoutGap="1rem" class="center">
          <div>
            <span>Invest in </span>
            <span>Kubera, </span>
            <span>Become a </span>
            <span>Kubera</span>
          </div>
          <div>Transform Your Investments into Lasting Value</div>
          <img src="/images/about-kubera/kubera.png" class="kuber-img"/>
          <button mat-flat-button class="investing-button">Start Investing</button>
        </div>
      </div>
    </div>
    <img src="/images/about-kubera/img-1.png"/>
  </div>
  <!-- Read More section -->
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutAlign="center" class="read-section mt-3">
    <div>
      <div fxLayout="column" fxLayoutGap.xl="1.5rem" fxLayoutGap.lg="1.5rem" fxLayoutGap.md="1.5rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
        <div>
          <span>Viindhya Bullion Pvt Ltd is pleased to introduce the </span>
          <span>Kubera Gold Hording</span>
        </div>
        <div>Plan, an extraordinary opportunity for savings and reutrn on investment.</div>
        <button mat-flat-button class="read-more-button">Read more</button>
      </div>
    </div>
  </div>
  <!-- investment explain section -->
  <div fxLayout="column" class="investment-explain mt-4 bg-2">
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutAlign="center">
      <div>
        <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
          <div>Why invest in a Kubera Scheme</div>
          <img src="/images/line.svg" class="line"/>
        </div>
      </div>
    </div>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap.xl="4rem" fxLayoutGap.lg="4rem" fxLayoutGap.md="4rem" fxLayoutGap.sm="1.5rem" fxLayoutGap.xs="1.5rem" fxLayoutAlign="center" class="background mt-2 mlr">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1.5rem" fxLayoutGap.xs="1.5rem">
          <div>
            <img src="/images/about-kubera/graaf.png"/>
            <div>Predictable Returns</div>
            <div>Secondary income stream</div>
          </div>
          <div>
            <img src="/images/about-kubera/graaf.png"/>
            <div>Diversification</div>
            <div>Fixed return without market violality</div>
          </div>
        </div>
      </div>
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxLayoutGap.md="3rem" fxLayoutGap.sm="1.5rem" fxLayoutGap.xs="1.5rem">
          <div>
            <img src="/images/about-kubera/graaf.png"/>
            <div>Secured</div>
            <div>Backed by strong collateral</div>
          </div>
          <div>
            <img src="/images/about-kubera/graaf.png"/>
            <div>Regular Income</div>
            <div>SPeriodic principle and interest repayments</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- started section -->
  <div fxLayout="row" fxLayoutAlign="center" class="started-section mt-4">
    <div>
      <div fxLayout="column" fxLayoutGap="1.5rem">
        <div>Secure your Wealth with Kubera Scheme </div>
        <div>Double your Gold Investments in 40 Months with Monthly Returns</div>
        <button mat-flat-button>Get started today</button>
      </div>
    </div>
  </div>
  <!-- returns section -->
  <div fxLayout="column" class="returns-section mt-3">
    <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="column" fxLayoutGap="1rem">
        <div>Why Choose <span class="color">Kubera Scheme</span></div>
        <img src="/images/line.svg" class="line"/>
      </div>
    </div>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap="2rem" fxLayoutAlign="center" fxFlex="100" class="bg-3 mt-2">
      <div fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap="0.5rem">
          <div><span>100%  </span> <span>Returns</span> </div>
          <div>Get 100% return on your investment in 40 months</div>
        </div>
      </div>
      <div fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap="0.5rem">
          <div><span>999.99% </span> <span>Purity</span> </div>
          <div>Recieve monthly gold buiscuits of 999.99% purity</div>
        </div>
      </div>
      <div fxFlex.xl="33.3" fxFlex.lg="33.3" fxFlex.md="33.3" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap="0.5rem">
          <div><span>RBI </span> <span>Guidelines</span> </div>
          <div>Backed by RBI guidelines and NABL approved gold</div>
        </div>
      </div>
    </div>
  </div>
  <!-- desktop view -->
  <!-- deals section -->
  <div fxLayout="column" class="deals-section mt-3 bg-4" fxShow.xl fxShow.lg fxShow.md fxHide.xs fxHide.xs>
    <div fxLayout="row" fxLayoutAlign="center">
      <div>
        <div fxLayout="column" fxLayoutGap="1rem">
          <div>Our recent Successful Deals</div>
          <img src="/images/line.svg" class="line"/>
        </div>
      </div>
    </div>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap.xl="5rem" fxLayoutGap.lg="5rem" fxLayoutGap.md="5rem" fxLayoutGap.xs="2rem" fxLayoutGap.sm="2rem" fxLayoutAlign="center" class="deals-bg mt-3">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
          <div>Navi</div>
          <div>Founded by Sachin Bansal (ex- Flipkart, IIT-D alumnus). Navi Group is a financial services company.</div>
          <div>Gross Return - 11.96%</div>
          <div>Tenure - 24 Months</div>
        </div>
      </div>
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
          <div>Zetwork</div>
          <div>Zetwork is a B2B manufacturing marketplace and fastest unicorn values at 2.7 Billion, founded by IIT graduates</div>
          <div>Gross Return - 12.25%</div>
          <div>Tenure - 3 Months</div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile view -->
  <div fxLayout="column" class="deals-section mt-3" fxHide.xl fxHide.lg fxHide.md fxShow.xs fxShow.sm>
    <div fxLayout="row" fxLayoutAlign="center">
      <div>
        <div fxLayout="column" fxLayoutGap="1rem">
          <div>Our recent Successful Deals</div>
          <img src="/images/line.svg" class="line"/>
        </div>
      </div>
    </div>
    <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  fxLayoutGap.xl="5rem" fxLayoutGap.lg="5rem" fxLayoutGap.md="5rem" fxLayoutGap.xs="2rem" fxLayoutGap.sm="2rem"  fxLayoutAlign="center" class="deals-bg mt-3">
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
          <div>Navi</div>
          <div>Founded by Sachin Bansal (ex- Flipkart, IIT-D alumnus). Navi Group is a financial services company.</div>
          <div>Gross Return - 11.96%</div>
          <div>Tenure - 24 Months</div>
        </div>
      </div>
      <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
        <div fxLayout="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
          <div>Zetwork</div>
          <div>Zetwork is a B2B manufacturing marketplace and fastest unicorn values at 2.7 Billion, founded by IIT graduates</div>
          <div>Gross Return - 12.25%</div>
          <div>Tenure - 3 Months</div>
        </div>
      </div>
    </div>
  </div>
  <!-- opportunities section -->
  <div fxLyout="row" fxLayoutAlign="center" class="opportunities mt-2">
    <div>
      <div fxLayout="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
        <div>Slide to see more</div>
        <button mat-flat-button>Explore opportunities</button>
      </div>
    </div>
  </div>
  <!-- questions section -->
  <div fxLyout="row" fxLayoutAlign="center" class="questions-section mt-3">
    <div>
      <div fxLayout="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem">
        <div>Have more questions?</div>
        <div>Checkout FAQ’s section to know more</div>
        <button mat-flat-button>View FAQ's</button>
      </div>
    </div>
  </div>
  <!-- mobile section -->
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column"  class="phone-bg mt-4">
    <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <img src="/images/about-kubera/phone-one.png" class="phone-img"/>
    </div>
    <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.xs="0.5rem" fxLayoutGap.sm="0.5rem">
        <div class="font-2p5">
          <span>Easy investments </span>
          <span>at </span>
        </div>
        <div>your fingertips</div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xl="2rem" fxLayoutGap.lg="2rem" fxLayoutGap.md="2rem" fxLayoutGap.sm="0.5rem" fxLayoutGap.xs="0.5rem" class="play-store">
          <img src="/images/about-kubera/apple.png"/>
          <img src="/images/about-kubera/google.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
