<app-menu-bar></app-menu-bar>
<div fxLayout="column" fxLayoutGap="3rem" class="padding">
  <div fxLayout="row" fxLayoutAlign="center">
    <img src="/images/about-us/about-us.png" class="about-us-img"/>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" class="center" fxFlex="100" >
    <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row">
        <img src="/images/about-us/img2.png" class="img-2"/>
      </div>
    </div>
    <div fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="70" fxFlex.xs="100" fxFlex.sm="100">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          We are the Bullion Refinery Company engaged in conglomerate trades encircling numerous prosperous trades created with innovation at its core by means of trust amongst its customers spread all around the country with major stake of customers from South India.
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column"  class="center" fxFlex="100">
    <div fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          With great pleasure and gratitude, we welcome you to the cherished Bullion business space, creating exhilarating yet challenging opportunities with the frame work of conducive strategies, quality products with efficient services, by maintaining ethical values.
        </div>
      </div>
    </div>
    <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row">
        <img src="/images/about-us/img-16.png" class="img-2"/>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column"   class="center" fxFlex="100">
    <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row">
        <img src="/images/about-us/img-5.png" class="img-2"/>
      </div>
    </div>
    <div fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          our well-organized approach to address the demand and supply chain is manifestation of our commitment to vivid and transparent correspondences with all our stake holders catering a plethora of services to the wider customer range all across India.
        </div>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" class="center" fxFlex="100">
    <div fxFlex.xl="70" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          Our emphasis is not only what we profit out of the trading but also to establish and encourage the activity that transforms wellbeing and prosperity for all the customers as well as those who are directly or indirectly connected with us, where the word “PROFIT” becomes only a by product of what we all do as entirety.
        </div>
      </div>
    </div>
    <div fxFlex.xl="30" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row">
        <img src="/images/about-us/img4.png" class="img-2"/>
      </div>
    </div>
  </div>
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" class="bg-1">
    <div>
      <div fxLayout="column" fxLayoutGap.xl="3rem" fxLayoutGap.lg="3rem" fxlayoutGap.md="3rem" fxLayoutGap.sm="1.5rem" fxLayoutGap.xs="1.5rem">
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap.sm="3rem" fxLayoutGap.xs="3rem" class="items-end">
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
            <div fxLayout="row" fxLayoutAlign="center">
              <img src="/images/about-us/img6.png" class="man"/>
            </div>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
            <div fxLayout="column" fxLayoutGap.xl="1rem" fxLayoutGap.lg="1rem" fxLayoutGap.md="1rem" fxLayoutGap.sm="1rem" fxLayoutGap.xs="1rem">
              <img src="/images/about-us/our.svg" class="our"/>
              <img src="/images/about-us/milestone.svg" class="mile-stone"/>
            </div>
          </div>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap.lg="12rem" fxLayoutGap.xl="12rem" fxLayoutGap.md="12rem" fxLayoutGap.sm="1.5rem" fxLayoutGap.xs="1.5rem" class="self-center card-color">
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div fxLayout="column" fxLayoutGap="1.5rem" class="card" >
                  <div>Feb 22</div>
                  <div>Transaction Volume</div>
                  <div>₹250+ Cr</div>
                  <div>Registered Users</div>
                  <div>6K+</div>
              </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div fxLayout="column" fxLayoutGap="1.5rem" class="card" >
                  <div>Feb 22</div>
                  <div>Transaction Volume</div>
                  <div>₹250+ Cr</div>
                  <div>Registered Users</div>
                  <div>6K+</div>
              </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" fxLayoutGap.lg="12rem" fxLayoutGap.xl="12rem" fxLayoutGap.md="12rem" fxLayoutGap.sm="1.5rem" fxLayoutGap.xs="1.5rem" class="self-center card-color">
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div fxLayout="column" fxLayoutGap="1.5rem" class="card" >
                  <div>Feb 22</div>
                  <div>Transaction Volume</div>
                  <div>₹250+ Cr</div>
                  <div>Registered Users</div>
                  <div>6K+</div>
              </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex.xl="50" fxFlex.lg="50" fxFlex.md="50" fxFlex.xs="100" fxFlex.sm="100">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div fxLayout="column" fxLayoutGap="1.5rem" class="card" >
                  <div>Feb 22</div>
                  <div>Transaction Volume</div>
                  <div>₹250+ Cr</div>
                  <div>Registered Users</div>
                  <div>6K+</div>
              </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div fxLayou="row" fxLayoutAlign="center">
          <img src="/images/about-us/values.svg" class="values-img"/>
        </div>
      </div>
    </div>
  </div>
  <!-- desktop view -->
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" class="values mt-3" fxShow.xl fxShow.lg fxShow.md fxHide.sm fxHide.xs>
    <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100"></div>
    <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" class="values-devide">
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
    </div>
    <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" class="values-devide mt-5">
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
    </div>
    <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100"></div>
  </div>
  <!-- mobile view -->
  <div fxLayout.xl="row" fxLayout.lg="row" fxLayout.md="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center" class="values mt-3 plr-1" fxHide.xl fxHide.lg fxHide.md fxShow.sm fxShow.xs>
    <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100"></div>
    <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" class="values-devide">
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
    </div>
    <div fxFlex.xl="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.sm="100" fxFlex.xs="100" class="values-devide mt-5">
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
      <div fxLayout="column" fxLayoutGap="1.5rem" class="content">
        <img src="/images/about-us/img10.png"/>
        <div>Collaborate</div>
        <div>We believe in establishing a culture of collaboration and inclusion, encouraging teamwork, openness, and entrepreneurship</div>
      </div>
    </div>
    <div fxFlex.xl="10" fxFlex.lg="10" fxFlex.md="10" fxFlex.sm="100" fxFlex.xs="100"></div>
  </div>
</div>
<app-footer></app-footer>
