.padding{
  padding-top: 8rem;
  padding-bottom: 5rem;
  // padding-left: 5rem;
  // padding-right: 5rem;
}
.about-us-img{
  width: 30%;
}
.img-2{
  width: 80%;
}
.center{
  align-items: center !important;
}
.font-2{
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 2.5rem;
}
.bg-1{
  background-image: url('/images/about-us/background.png');
  background-repeat: no-repeat;
  background-size: 100%;
}
.man{
  width: 30%;
}
.our{
  width: 20%;
}
.mile-stone{
  width: 40%;
}
.items-end{
  align-items: end !important;
}
