<app-menu-bar></app-menu-bar>
<div fxLayout="column" fxLayoutGap="3rem" class="padding">
  <div fxLayout="row" fxLayoutAlign="center">
    <img src="/images/about-us/about-us.png" class="about-us-img"/>
  </div>
  <div fxLayout="row" class="center" fxFlex="100">
    <div fxFlex="30">
      <div fxLayout="row">
        <img src="/images/about-us/img2.png" class="img-2"/>
      </div>
    </div>
    <div fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          We are the Bullion Refinery Company engaged in conglomerate trades encircling numerous prosperous trades created with innovation at its core by means of trust amongst its customers spread all around the country with major stake of customers from South India.
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="center" fxFlex="100">
    <div fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          With great pleasure and gratitude, we welcome you to the cherished Bullion business space, creating exhilarating yet challenging opportunities with the frame work of conducive strategies, quality products with efficient services, by maintaining ethical values.
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="row">
        <img src="/images/about-us/img-16.png" class="img-2"/>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="center" fxFlex="100">
    <div fxFlex="30">
      <div fxLayout="row">
        <img src="/images/about-us/img-5.png" class="img-2"/>
      </div>
    </div>
    <div fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          our well-organized approach to address the demand and supply chain is manifestation of our commitment to vivid and transparent correspondences with all our stake holders catering a plethora of services to the wider customer range all across India.
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="center" fxFlex="100">
    <div fxFlex="70">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="font-2">
          Our emphasis is not only what we profit out of the trading but also to establish and encourage the activity that transforms wellbeing and prosperity for all the customers as well as those who are directly or indirectly connected with us, where the word “PROFIT” becomes only a by product of what we all do as entirety.
        </div>
      </div>
    </div>
    <div fxFlex="30">
      <div fxLayout="row">
        <img src="/images/about-us/img4.png" class="img-2"/>
      </div>
    </div>
  </div>
  <div fxLayout="row" class="bg-1">
    <div>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="center" class="items-end">
          <div fxFlex="50">
            <div fxLayout="row" fxLayoutAlign="center">
              <img src="/images/about-us/img6.png" class="man"/>
            </div>
          </div>
          <div fxFlex="50">
            <div fxLayout="column">
              <img src="/images/about-us/our.svg" class="our"/>
              <img src="/images/about-us/milestone.svg" class="mile-stone"/>
            </div>
          </div>
        </div>
        <div fxLayout="row">

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
