<app-menu-bar></app-menu-bar>
<div fxLayout="column" class="bg-1">
  <div fxLayout="row">
    <div fxFlex="25">
      <img src="/images/login/img-2.png" class="img-2"/>
    </div>
    <div fxFlex="50">
      <div fxLayout="row" fxLayoutAlign="center">
        <div class="login">Login</div>
      </div>
    </div>
    <div fxFlex="25">
      <img src="/images/login/img-1.png" class="img-1"/>
    </div>
  </div>
  <div fxLayout="row" fxLayoutALign="center">
    <mat-card appearance="outlined">
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>
