.logo{
  width: 7rem;
  height: 5rem;
}
.menu-bar{
  background-color: #171020;
  box-shadow: 0px 1px 50px 5px #29183e;
  padding-left: 3rem;
  padding-right: 3rem;
  align-items: center;
  position:fixed;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
.menu-bar > div:nth-child(2) > div {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  align-items: center !important;
}

.menu-logo{
  width: 60%;
}
.button {
  background-color: #8032e0 !important;
  color: #fff !important;
  border-radius: 0.5rem;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  font-size: 1.1rem;
  font-weight: 400;
}
.color{
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.color > button {
  background-color: #d5b4ff !important;
  color: #6719c7 !important;
}

@media all and (max-width: 950px) {
  .logo{
    width: 5rem;
    height: 4rem;
  }
  .button {
    padding: 1rem !important;
    font-size: 1rem;
    white-space: nowrap;
  }
  .menu-bar{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    // overflow-x: scroll;
  }
  .menu-logo{
    width: 70%;
  }
}

@media all and (max-width: 340px) {
  .button {
    padding: 0.7rem !important;
    margin-right: -1rem !important;
  }
  .menu-logo{
    width: 55%;
  }
  .logo {
    height: 4rem;
    width: 5rem;
  }
}
