<div fxLayout="column" fxFlex="100">
  <div fxLayout="row" class="menu-bar">
    <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="100" fxFlex.xs="100" (click)="goToNextPage('/')">
      <img src="/images/logo.png" class="logo"/>
    </div>
    <div fxFlex.xl="80" fxFlex.lg="80" fxFlex.md="80" fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout="row" fxLayoutAlign="end"  fxLayoutGap.xl="1.5rem" fxLayoutGap.lg="1.5rem" fxLayoutGap.md="1.5rem"
      fxLayoutGap.sm="0rem" fxLayoutGap.xs="0rem">
        <button mat-raised-button class="button" (click)="goToNextPage('/login')">Login/Sign Up</button>
        <button mat-button [matMenuTriggerFor]="animals">
          <img src="/images/menu-logo.png" class="menu-logo"/>
        </button>
        <mat-menu #animals="matMenu">
          <div fxLayout="column" fxLayoutGap="0.1rem" class="color">
            <button mat-menu-item (click)="goToNextPage('/about-kubera')">About Kubera</button>
            <button mat-menu-item [matMenuTriggerFor]="knowledgeCenterMenu">Knowledge Center</button>
            <button mat-menu-item (click)="goToNextPage('/about-us')">About Us</button>
            <button mat-menu-item (click)="goToNextPage('/contact-us')">Contact Us</button>
            <button mat-menu-item (click)="goToNextPage('/refer-and-earn')">Refer & Earn</button>
          </div>
        </mat-menu>
        <mat-menu #knowledgeCenterMenu="matMenu">
          <div fxLayout="column" fxLayoutGap="0.1rem" class="color">
            <button mat-menu-item (click)="goToNextPage('/blogs')">Blogs</button>
            <button mat-menu-item (click)="goToNextPage('/webinars')">Webinars</button>
            <button mat-menu-item (click)="goToNextPage('/faqs')">FAQs</button>
          </div>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
