<app-menu-bar></app-menu-bar>
<div fxLayout="column" class="padding" fxLayoutGap="2rem">
  <div fxLayout="row" fxLayoutAlign="center">
    <img src="/images/our-company/img.png" class="img-1"/>
  </div>
  <div fxLayout="row" fxLayoutAlign="center">
    <img src="/images/our-company/the.svg" class="name"/>
  </div>
  <div fxLayout="row" fxLayoutAlign="center" >
    We are the Bullion Refinery Company engaged in conglomerate trades encircling numerous prosperous trades created with innovation at its core by means of trust amongst its customers spread all around the country with major stake of customers from South India. With great pleasure and gratitude, we welcome you to the cherished Bullion business space, creating exhilarating yet challenging opportunities with the frame work of conducive strategies, quality products with efficient services, by maintaining ethical values. Our well-organized approach to address the demand and supply chain is manifestation of our commitment to vivid and transparent correspondences with all our stake holders catering a plethora of services to the wider customer range all across India.<br />Our emphasis is not only what we profit out of the trading but also to
    establish and encourage the activity that transforms wellbeing and prosperity for all the customers as well
    as those who are directly or indirectly connected with us, where the word "PROFIT" becomes only a by product
    of what we all do as entirety.
</div>
</div>
<app-footer></app-footer>
