.padding{
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
}
.img-1{
  width: 60%;
}


@media all and (max-width: 950px) {
  .padding{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.5rem;
  }
  .img-1{
    width: 100%;
  }
  .name{
    width: 100%;
  }
}
